<DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Waseem Nawaz</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Custom styles for this template go here -->
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="/public/css/jquery.tosrus.all.css" />
    <!--link rel="stylesheet" href="css/scrolling-nav.css"-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="fb-root"></div>
    <body data-spy="scroll" data-target=".navbar">
      <!--navbar starts here-->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="home navbar-brand">
              <a href="/">WASEEM NAWAZ</a>
            </div><!-- end home -->
          </div><!-- end navbar header -->
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/abt">About/CV</a></li>
                <!--li><a href="#work2">Work</a></li-->
                <li><a href="/kntkto">Contact</a></li>
              </ul>
            </div><!-- collapse -->
        </div><!-- end container -->
      </nav><!-- end navbar -->


    <!-- Main jumbotron for a primary marketing message or call to action -->
    
    <div class="container-fluid anchor" id="kntkto">
      <!--div class="jumbotron" id="new"-->
      <div class="black">
        <div class="contacts">
          <h3>Contact me</h3>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="imail">
              <p>You can write me an email:</p>
              <p class="iimail"><a class="mail" href="mailto:waseemhijodenawaz@yahoo.es">waseemhijodenawaz@yahoo.es</a></p>
              <p>Reach out to me on the social media platforms below or by filling out the simple form on the right:</p>
            </div>
            <div class="socialmediaz">
              <div class="row">
                <div class="col-xs-4">
                  <a href="https://github.com/waseemnawaz"><img src="/public/img/Github1.png" class="img-responsive social"></a>
                </div>
                <div class="col-xs-4">
                  <a href="https://twitter.com/guasimnaguaz"><img src="/public/img/Twitter1.png" class="img-responsive social"></a>
                </div>
                <div class="col-xs-4">
                  <a href="https://www.linkedin.com/in/waseem72nawaz"><img src="/public/img/LinkedIn1.png" class="img-responsive social"></a>
                </div>
              </div>
            </div>
            <!--div id="map"></div-->
          </div><!-- end contacts col-->

          <div class="col-lg-8 col-md-8">
            <div class="contactform">
              <form action="https://formspree.io/wasimhijodenawaz@gmail.com" method="post">
                <div class="form-group">
                  <label for="name">Name *</label>
                  <input type="text" placeholder="Your name here" class="form-control" id="name" required="required" title="name" name="name">
                </div>
                <div class="form-group">
                  <label for="email">Email *</label>
                  <input type="email" placeholder="Your email here" class="form-control" id="email" required="required" name="_replyto">
                </div>
                  <label for="yourtext">Message</label>
                  <textarea name="message" style="resize:none" cols="40" rows="5" placeholder="Your message here" class="form-control message-box" id="yourtext" minlength=20></textarea>
                  <p id="char-count"></p>
                  <p id="visible-comment"></p>
                  <button type="submit" class="btn btn-primary" id="txtbuttn" value="Send">Submit</button>
              </form>
            </div><!-- contactform -->
          </div><!-- col -->
        </div><!--row-->
      <!--/div--><!-- jumbotron -->
      </div><!-- black -->
    </div><!-- end container kntkt -->
    
    
    <footer>
      <div class="copyright">
        &copy; Waseem Nawaz 2016
      </div>
    </footer>


    <!-- ============================= -->
    <!-- All your JavaScript comes now -->
    <!-- ============================= -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Can place script tags with JavaScript files here -->
    <!--script src="js/jquery.bsPhotoGallery.js"></script-->
    
    <script src="/public/js/jquery.stellar.min.js"></script>
    <!--script src="/public/js/work.js"></script-->
    <script src="/public/js/scripts.js"></script>
    <script src="/public/js/jquery.tosrus.all.min.js"></script>
    <!--script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script-->
    <!-- tooltips firstpage -->
    
    <!-- tooltips about page -->
    <!-- parallax/stellar js effect -->
    <!-- smooth scrolling code -->
    <!--script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCybzwqcaa3KDHW0X_DGz9rLxVAS0OxcOI&callback=initMap"
    async defer></script-->
    <!--script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFtU7qMir_TiDDieq-vjvYP2XMLK9uhqs&callback=initMap">
    </script-->
  </body>
</html>
