<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head %>

  <body>
    <div id="fb-root"></div>
    <body data-spy="scroll" data-target=".navbar">
      <!--navbar starts here-->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="home navbar-brand">
              <a href="/">WASEEM NAWAZ</a>
            </div><!-- end home -->
          </div><!-- end navbar header -->
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/abt">About/CV</a></li>
                <!--li><a href="#work2">Work</a></li-->
                <li><a href="/kntkto">Contact</a></li>
              </ul>
            </div><!-- collapse -->
        </div><!-- end container -->
      </nav><!-- end navbar -->


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container anchor" id="intro">
      <div class="firstpage">
        <h3>Hi. I’m Waseem and you should hire me for your project(s)!</h3>
        <p>I was born in Luxembourg. I went to school in Luxembourg, the UAE and the United Kingdom, where I also went to university. I later worked in Luxembourg, Nicaragua and Peru. My professional background is mainly non-profit and tourism. I even had a restaurant of my own at one point (I did most of the sweets and cakes there), so I have an entrepreneurial streak as well. I love getting to know different cultures and I have a special interest for Latin America, since I lived there for such a long time. I like learning languages (most recently Portuguese), spending time with friends, conversations, the gym (I try to do my best...), amongst other things. Scroll down to find out more about me!</p>
      </div>
      <div class="threetexts">
      </div> <!-- threetexts -->
          
    <div class="trabajos">
      <div class="row" id="links">
        <div class="col-md-3 col-xs-6"><a href="/public/img/snow1.jpg"><img src="/public/img/snow1.jpg" class="works img-responsive fadez"></a></div><!-- col -->
        <div class="col-md-3 col-xs-6"><a href="/public/img/snow3.jpg"><img src="/public/img/snow3.jpg" class="works img-responsive fadez"></a>
        </div>
        <div class="col-md-3 col-xs-6"><a href="/public/img/blacktee.jpg"><img src="/public/img/blacktee.jpg" class="works img-responsive fadez grey"></a>
        </div>
        <div class="col-md-3 col-xs-6"><a href="/public/img/snow4.jpg"><img src="/public/img/snow4.jpg" class="works img-responsive fadez crazy"></a>
        </div> 
      </div><!--row-->
      <div class="row" id="liinks">
        <div class="col-md-3 col-xs-6"><a href="/public/img/IMG_1569.jpg"><img src="/public/img/IMG_0712manlisboa.jpg" class="works img-responsive fadez"></a>
        </div>
        <div class="col-md-3 col-xs-6"><a href="/public/img/IMG_0654.jpg"><img src="/public/img/IMG_0654.jpg" class="works img-responsive fadez"></a>
        </div>
        <div class="col-md-3 col-xs-6"><a href="/public/img/nata1.jpg"><img src="/public/img/nata1.jpg" class="works img-responsive fadez"></a>
        </div>
        <div class="col-md-3 col-xs-6"><a href="/public/img/IMG_0987.jpg"><img src="/public/img/IMG_0987.jpg" class="works img-responsive fadez grey"></a>
        </div>
      </div>
    </div><!--end trabajos-->
  </div><!--container end -->

    <footer>
      <div class="copyright">
        &copy; Waseem Nawaz 2016
      </div>
    </footer>


    <!-- ============================= -->
    <!-- All your JavaScript comes now -->
    <!-- ============================= -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Can place script tags with JavaScript files here -->
    <!--script src="js/jquery.bsPhotoGallery.js"></script-->
    
    <script src="/public/js/jquery.stellar.min.js"></script>
    <!--script src="/public/js/work.js"></script-->
    <script src="/public/js/scripts.js"></script>
    <script src="/public/js/jquery.tosrus.all.min.js"></script>
    <!--script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script-->
    <!-- tooltips firstpage -->
    
    <!-- tooltips about page -->
    <!-- parallax/stellar js effect -->
    <!-- smooth scrolling code -->
    <!--script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCybzwqcaa3KDHW0X_DGz9rLxVAS0OxcOI&callback=initMap"
    async defer></script-->
    <!--script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFtU7qMir_TiDDieq-vjvYP2XMLK9uhqs&callback=initMap">
    </script-->
  </body>
</html>
